ion-header {
  --ion-background-color: #3b3a3a;
}

ion-buttons {
  position: absolute;
}

ion-title {
  text-align: center;
}

.notification-active {
  position: absolute;
  padding: 4px;
  height: 8px;
  width: 8px;
  background-color: black;
  margin-top: 9px;
  border-radius: 10px;
  right: 22px;
  color:orange;
}

.content-title > img {
  width: 50px;
}

.notification {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  height: 5px;
  width: 5px;
  right: 21px;
  margin-top: -20px;
}



.info-user-content {
  background-color: #3b3a3a;
  border-radius: 0px 0px 23px 23px;
  padding: 1px;
}

.info-user-detail {
  display: flex;
  flex-direction: row;
  padding: 11px 3px 3px 32px;
  align-items: center;
}

.info-user-detail > img {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 4px 5px;
}

.description-user {
 margin-left: 5px;
}

.description-user > h6 {
  margin: 0;
  font-size: 13px;
}

.description-user > p {
  font-size: 7px;
  margin: 0;
  color: blueviolet;
}

.additional-info {
  display: flex;
  justify-content: center;
}

.additional-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 30px;
  width: max-content;
  margin: 16px 0px 8px 0px;
}

.additional-info > div > ion-icon {
  border: orange 1px solid;
  border-radius: 20px;
  padding: 0px 4px;
  width: 9px;
  margin: 0px 4px 0px 7px;
  color: orange;
}

.additional-info > div > p {
  margin: 0;
  font-size: 7px;
  color: orange;
}

.card-training, .card-programs, .new-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 0 20px;
}

.card-training > h5 {
  margin: 0;
}

.card-training > ion-icon {
  color: orange;
  margin-left: 3px;
}

.card-programs > div {
  background-color: orange;
  border-radius: 10px;
  padding: 0px 4px;
  font-size: 9px;
  margin: -4px 0px 0px 1px;
}

.card-slide-content {
  margin-left: 14px;
}

.ion-slide-content {
  width: auto;
  height: auto;
}

.card-slide-training {
  opacity: 38.5%;
}

.info-slide-training {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-slide-training > p {
  font-size: 10px;
  text-align: left;
  margin-left: 2px;
}

.card-slide {
  border-radius: 11px;
  overflow: hidden;
  height: 90px;
  width: 148px;
  object-fit: cover;
  margin: 4px;
}

.info-card {
  position: absolute;
  left: 10px;
  bottom: 14px;
}

.info-card  > p {
  font-size: 8px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
    color: orange;
    font-weight: 100;
    margin-bottom: 3px;
}


.info-card  > h6 {
  font-size: 8px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.new-content {
  opacity: 15%;
}

.info-card-content {
  border-radius: 20px;
  border: #fff 0.1px solid;
  opacity: 15%;
}

.info-card-content > div {
  position: absolute;
  background-color: orange;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  left: 25px;
  top: 34px;
}
